<p>
<a href="/docsets">
  <img src="https://img.shields.io/badge/dash%20docsets-{{ site.data.docsets | size }}-20732a.svg?style=for-the-badge" alt="{{ site.data.docsets | size }} Dash docsets available!">
</a>&nbsp;&nbsp;
<a href="/docsets">
  <img src="https://img.shields.io/badge/user%20docsets-{{ site.data.docsets_usercontributed | size }}-20732a.svg?style=for-the-badge" alt="{{ site.data.docsets_usercontributed | size }} user contributed docsets available!">
</a>&nbsp;&nbsp;
<a href="https://github.com/jkozera/zevdocs/releases">
  <img src="https://img.shields.io/github/release/jkozera/zevdocs.svg?style=for-the-badge">
</a>&nbsp;&nbsp;
<a href="https://github.com/jkozera/zevdocs/releases">
  <img src="https://img.shields.io/github/release-date/jkozera/zevdocs.svg?style=for-the-badge">
</a>&nbsp;&nbsp;
<a href="https://github.com/jkozera/zevdocs-update-docsets-lambda/blob/b73f90b1c19eb7e53bc77559f9c6aeb3a51d3bda/update_docsets/__init__.py#L59">
  <img src="https://img.shields.io/badge/weekly%20downloads-{{ site.data.weekly_downloads.count }}-yellow.svg?logo={{ site.data.weekly_downloads.sparkline }}&style=for-the-badge" alt="{{ site.data.weekly_downloads.count }} new downloads last week on Flathub">
</a>
</p>
