.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
#docset-list li, #docset-list-contrib li {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  margin: 2px;
}
.page-header a {
  color: inherit;
}
