{% include header.html %}
    <section class="page-header">
      <img src="logo.png" alt="" style="width: 100pt" />
<div id="myTimeline" class="mastodon-timeline mastodon-timeline-dark"></div>
      <h1 class="project-name">ZevDocs</h1>
      <h2 class="project-tagline">API documentation browser</h2>
      {% if site.github.is_project_page %}
        {% include badges.html %}
        <a href="https://github.com/jkozera/zevdocs" class="btn">View on GitHub</a>
        <a href="https://flathub.org/apps/details/io.github.jkozera.ZevDocs" class="btn">Download from Flathub</a>
        <a href="https://snapcraft.io/zevdocs" class="btn">Download from Snapcraft</a>
      {% endif %}
    </section>
    <section class="main-content">
      {{ content }}
    </section>
    <div class="carousel">
      <div><img src="screenshot.png" alt="Sreenshot 1: You can download documentation sets from Dash automatically"></div>
      <div><img src="screenshot2.png" alt="Sreenshot 2: ZevDocs also can search through Stack Overflow and source code on GitHub"></div>
      <div><img src="screenshot3.png" alt="Sreenshot 3: Dash's User Contributed docsets are available as well"></div>
    </div>

    <section class="main-content">
{% include footer.html %}
