{% include header.html %}
    <section class="page-header">
      <img src="logo.png" alt="" style="width: 100pt" />
      <h1 class="project-name">ZevDocs</h1>
      <h2 class="project-tagline">API documentation browser</h2>
      {% if site.github.is_project_page %}
        {% include badges.html %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        <a href="https://flathub.org/apps/details/io.github.jkozera.ZevDocs" class="btn">Download from Flathub</a>
        <a href="https://snapcraft.io/zevdocs" class="btn">Download from Snapcraft</a>
      {% endif %}
    </section>
{% include footer.html %}
